<div class="get-started" id="login-screen">
    <p>
        <span class="material-icons" id="login-logo">
            Registro
        </span>
    </p>
    <input [(ngModel)]="nombre" type="text" class="login-form" placeholder="Nombre">
    <input [(ngModel)]="clave" type="text" class="login-form" placeholder="Clave">
    <input [(ngModel)]="claveRepetida" type="text" class="login-form" placeholder="Reingrese la Clave">
    <button (click)="Registrar()" class="registro-btn">Registrarse</button>
    <p *ngIf="mensajeDeError">{{mensajeDeError}}</p>
</div>
